<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book</title>
    <link href="C:\Users\acer\Desktop\inter\interpro\src\app\book\book.component.css" rel="stylesheet">
</head>
<body>
    <div class="card">
		<div class="imgBox">
			<div class="bark"></div>
            <img src="assets/img/slam.jpg" class="slam" alt="slam book :)">
        
		</div>
		<div class="details">
            
			<h4 class="topic">It's worth saying.....</h4>
			
		    <form class="form">
           
            
                <label >Iam known as:</label>
                <input type="text" id="name" required placeholder="Name"><br>
            
                <label >Ring me at:</label>
                <input type="text" id="phone" required placeholder="Phone number"><br>
                <label >Born on:</label>
                <input type="date" id="dob" required placeholder="Date of birth"><br>
                <label >Email me at:</label>
                <input type="email" id="email" placeholder="Email"><br>
                <label>My dream:</label>
                <input type="text" id="dream" placeholder="Dream"><br>
                <label>My crush:</label>
                <input type="text" id="crush" placeholder="Crush"><br>
                <label>My strength:</label>
                <input type="text" id="strength" placeholder="Strenght"><br><br>

                <label>I feel about you:</label><br><br>
                <textarea id="about" t placeholder="About me"></textarea>
                
           
            </form>
            <p class="text-right">Thank you</p>
        
		</div>
	</div>
</body>


